---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=<OPEN_WEATHER_APP_ID>&q=,minneapolis,us&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-93.26,"lat":44.98},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":39.06,"pressure":1026,"humidity":44,"temp_min":37.4,"temp_max":41},"visibility":16093,"wind":{"speed":9.17,"deg":330},"clouds":{"all":75},"dt":1458497700,"sys":{"type":1,"id":1560,"message":0.0299,"country":"US","sunrise":1458476021,"sunset":1458520032},"id":5037649,"name":"Minneapolis","cod":200}'
  recorded_at: Sun, 20 Mar 2016 18:29:01 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=<OPEN_WEATHER_APP_ID>&q=,90210,us&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-118.4,"lat":34.07},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"cmc stations","main":{"temp":61.99,"pressure":1020,"humidity":59,"temp_min":59,"temp_max":64.4},"wind":{"speed":4.7,"deg":90},"clouds":{"all":1},"dt":1459529700,"sys":{"type":1,"id":490,"message":0.0044,"country":"US","sunrise":1459517946,"sunset":1459563326},"id":5328041,"name":"Beverly
        Hills","cod":200}'
  recorded_at: Fri, 01 Apr 2016 17:47:11 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=<OPEN_WEATHER_APP_ID>&q=,New%20York,us&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-74.01,"lat":40.71},"weather":[{"id":701,"main":"Mist","description":"mist","icon":"50d"}],"base":"cmc
        stations","main":{"temp":68.86,"pressure":1001,"humidity":77,"temp_min":60.8,"temp_max":73.4},"wind":{"speed":16.11,"deg":230,"gust":10.3},"clouds":{"all":75},"dt":1459532944,"sys":{"type":1,"id":1975,"message":0.0075,"country":"US","sunrise":1459507054,"sunset":1459552925},"id":5128581,"name":"New
        York","cod":200}'
  recorded_at: Fri, 01 Apr 2016 17:50:20 GMT
recorded_with: VCR 2.9.3
