---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=<OPEN_WEATHER_APP_ID>&q=,minneapolis,us&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-93.26,"lat":44.98},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":39.06,"pressure":1026,"humidity":44,"temp_min":37.4,"temp_max":41},"visibility":16093,"wind":{"speed":9.17,"deg":330},"clouds":{"all":75},"dt":1458497700,"sys":{"type":1,"id":1560,"message":0.0299,"country":"US","sunrise":1458476021,"sunset":1458520032},"id":5037649,"name":"Minneapolis","cod":200}'
  recorded_at: Sun, 20 Mar 2016 18:29:01 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=<OPEN_WEATHER_APP_ID>&q=,minneapolis,us&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-93.26,"lat":44.98},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":39.06,"pressure":1026,"humidity":44,"temp_min":37.4,"temp_max":41},"visibility":16093,"wind":{"speed":9.17,"deg":330},"clouds":{"all":75},"dt":1458497700,"sys":{"type":1,"id":1560,"message":0.0299,"country":"US","sunrise":1458476021,"sunset":1458520032},"id":5037649,"name":"Minneapolis","cod":200}'
  recorded_at: Sun, 20 Mar 2016 18:29:33 GMT
recorded_with: VCR 2.9.3
