<form class="location-form">
  Enter your location:
  <input type="text" class="location" value="78702"></input>
  <button type="submit">Go</button>
</form>

<div class="result">
  <div class="description"></div>
  <img class="meme"></img>
</div>