<div class="home">
<div class="hero container">
  <h2 class="title">Meme Weather</h2>

  <div class="row main-section">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="flash alert alert-danger" role="alert">
        <span class="flash-message"></span>
      </div>

      <form class="location-form">
        <%= image_tag "ajax-loader.gif", class: 'loader' %>
        <div class="input-group">
          <input type="text" class="form-control location" id="location" placeholder="City or Zip">

          <span class="input-group-btn">
            <button class="btn btn-default btn-success" type="submit">Go</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="results container-fluid">
  <div class="description-container">
    <p class="description"></p>
  </div>
  <img class="meme"></img>
</div>
