<div class="vote-on-memes">
  <div class="filters">
    <h4 class="filter-title">Filters</h4>
    <button class="btn filter-btn" data-filter-name="neutral_rating">
      <i class="fa fa-check"></i> Neutral rated
    </button>
  </div>

  <div class="meme-list"></div>
</div>
