.home {
  text-align: center;

  .hero.container {
    margin-top: $base-line-height;

    .main-section {
      margin-top: $base-line-height * 2;
    }

    .location {
      @media (min-width: $screen-md-min) {
        min-width: 300px;
      }

      @media (min-width: $screen-md-min) {
        min-width: 500px;
      }
    }
  }

  .loader {
    display: none;
    right: -25px;
    position: absolute;
    width: 32px;
  }

  .results {
    color: #FFF;
    display: none;
    margin-top: $base-line-height;
    padding: 0;

    @media (min-width: $screen-md-min) {
      margin-top: $base-line-height * 1.5;
    }

    .description-container {
      background-color: $brand-primary;
      padding: $gutter / 2;

      @media (min-width: $screen-md-min) {
        padding: $gutter * 1.5;
      }
    }

    .description {
      font-size: $font-size-base * 1.5;
      @media (min-width: $screen-md-min) {
        font-size: $font-size-base * 2;
      }
    }

    .meme {
      margin-bottom: $base-line-height * 2;
      padding-top: 0;
      width: 100%;

      @media (min-width: $screen-xs-max) {
        padding-top: $base-line-height * 2;
        max-width: 100%;
        width: auto;
      }
    }
  }
}