.vote-on-memes {
  @include meme-list;

  .filters {
    border-bottom: 1px solid lighten($gray-base, 70%);
    margin: $gutter;
    margin-bottom: 0;
    padding-bottom: $gutter;
    text-align: center;

    .filter-title {
      margin-bottom: $base-line-height;
    }
  }

  .filter-btn {
    .fa-check {
      display: none;
    }

    &.active {
      .fa-check {
        display: inline-block;
      }
    }
  }
}
